{% extends 'base.html' %} {% block content %}

<div class="login-screen" >
    <img src="/static/images/forest-login.jpg" alt="Ancient Forest Background" class="login-image">
    <div class="container h-50">
        <div class="content-overlay">
            <div class="col-md-6 login-content">
                <h1 class="text-light">Party Tracker</h1>
                <h2 class="text-light">Track your campaigns, characters and mosnters all in one place.</h2>
                <div class="mt-4 login-buttons">
                    <a href="accounts/login/" class="btn btn-primary btn-lg px-5">Login</a>
                    <a href="accounts/signup/" class="btn btn-primary btn-lg px-5">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}