{% extends 'base.html' %} {% block content %}

<h1 class="text-center">{{ campaign.name }}</h1>
<p class="text-center">{{ campaign.description }}</p>


<table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Health</th>
        <th scope="col">Str</th>
        <th scope="col">Dex</th>
        <th scope="col">Con</th>
        <th class="col">Int</th>
        <th class="col">Wis</th>
        <th class="col">Cha</th>
      </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
          <td>{{ character.name }}</td>
          <td>{{ character.character_class }}</td>
          <td>{{ character.health }}</td>
          <td>{{ character.strength }}</td>
          <td>{{ character.dexterity }}</td>
          <td>{{ character.constitution }}</td>
          <td>{{ character.intelligence }}</td>
          <td>{{ character.wisdom }}</td>
          <td>{{ character.charisma }}</td>
        </tr>
        {% endfor %}
            <a href="{% url 'create_character' campaign.id %}">Add Character</a>
    </tbody>


{% endblock content %}