{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Campaigns</h1>

<div class="container">
    <ul>
        {% for campaign in current_campaign %}
        <li>
            <a href="{% url 'campaign_info' campaign.id %}">{{ campaign.name }}</a>
            - {{ campaign.description }}
            <a href="{% url 'delete_campaign' campaign.id %}" class="btn btn-danger">Delete Campaign</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    <a href="{% url 'create_campaign' %}" class="btn btn-primary">Create New Campaign</a>
</div>
{% endblock content %}