{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container py-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-1 text-center">Campaigns</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            Campaign Name:
                        </th>
                        <th>
                            Description:
                        </th>
                        <th>
                            Actions:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in current_campaign %}
                    <tr>
                        <td>
                            <a  class="btn" href="{% url 'campaign_info' campaign.id %}">{{ campaign.name }}</a>
                        </td>
                        <td>{{ campaign.description }}</td>
                        <td>
                            <a href="{% url 'delete_campaign' campaign.id %}" class="btn">Delete Campaign</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="12" class='text-center'>
                            <a href="{% url 'create_campaign' %}" class="btn">Create New Campaign</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}