{% extends 'base.html' %} {% block content %}

<div class="container-12-md">
    <h1>Delete Character:</h1>
    <p>Are you sure you want to delete <strong>{{ campaign.character.name }}</strong>?</p>
    <p>Your Character will be lost forever.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Confirm Delete</button>
        {% csrf_token %}
        <a href="{% url 'campaign_info' character.campaign_id  %}" class="btn">Cancel Delete</a>
    </form>
</div>

{% endblock content %}