{% extends 'base.html' %} {% block content %}

<h1 id="invt-title">{{ inventory.character.name }}'s Inventory</h1>

<div class="container con-content" id="con-invt">
    <div class="row row-content" id="row-invt">
        <div class="col" id="col-invt">
            <h2>Inventory:</h2>
            <div id="invt-scroll">
            <table class="table table-striped table-bordered" id="invt-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_item in inventory_items %}
                    <tr>
                        <td>{{ inventory_item.item.name }}</td>
                        <td>{{ inventory_item.quantity }}</td>
                        <td>
                            <form method="POST" action="{% url 'delete_item' inventory_item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">X</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No Items In Inventory</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col" id="add-item">
            <h1>Add Item</h1>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn">Add Item</button>
            </form>
            <a href="{% url 'campaign_info' inventory.character.campaign_id  %}" class="btn">Return To Campaign</a>
        </div>
    </div>
</div>

{% endblock %}