{% extends 'base.html' %} {% block content %}
{% load static %}

<h1 class="display-1 text-center">Monster Library</h1>
<div class="container grid text-center con-pad t-scroll">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Challenge Rating</th>
            <th scope="col">Health</th>
            <th scope="col">Armour Class</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th class="col">Excerpt</th>
          </tr>
        </thead>
        <tbody>
            {% for monster in monsters %}
            <tr>
              <td>{{ monster.name }}</td>
              <td>{{ monster.challenge_rating }}</td>
              <td>{{ monster.health }}</td>
              <td>{{ monster.armour }}</td>
              <td>{{ monster.type }}</td>
              <td>{{ monster.size }}</td>
              <td>{{ monster.excerpt }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}

</html>