/* Layout of templates */

body {
    background-color: #1A1A40;
    color: #E0E0FF;
}

.cotainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Table Arcane Color Scheme */

.table-arcane {
    background-color: #1b1b3a;
    color: #f0a500;
    border-color: #6c5ce7;
}

.table-arcane th {
    background-color: #2c2c54;
    color: #f0a500;
    border-color: #6c5ce7;
}

.table-arcane td {
    background-color: #1b1b3a;
    color: #f0a500;
    border-color: #6c5ce7;
}

.table-arcane tr:hover {
    background-color: #00f0ff;
}

/* Color Scheme */

